absl-py
astor
Click
Flask
Flask-Cors
gast
google-pasta
grpcio
h5py
itsdangerous
Jinja2
Keras-Applications
Keras-Preprocessing
opencv-contrib-python
object-detection
Markdown
MarkupSafe
numpy
opencv-contrib-python
Pillow
protobuf
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
Werkzeug
wincertstore
wrapt